{% extends 'base.html'  %}

{% block content %}

<h1>THIS IS THE Home PAGE</h1>
<br>
<h1>15 FACTS ABOUT COSMETICS THAT MIGHT SURPRISE YOU</h1>
<br>
<p>
1.In ancient Egypt, cosmetics were a major part of men and women’s daily routine.<br>  
2.Ancient Romans would actually paint their heads to mask any signs of balding, before wigs came into style.<br.
3.In ancient China, the ruling class would paint their nails to distinguish themselves from the general public.Different colors would symbolize different characteristics, like strength or power.<br>
4.The first record of ancient lipstick comes from Mesopotamia, which was about 5,000 years ago.<br>
5.Did you know that to this day in Morrisville, Pennsylvania, a woman must get a permit first before she wears makeup?! Yes, this is a real law, even if it isn’t enforced.<br>
6. To try and soften wrinkles, the Romans would use swan fat or donkey milk. Freckles were treated with…get this: ashes of snails. Yuck.<br>
7.During the 1400’s and 1500’s, it was popular for women to be hairless, whether that be the hair on their heads or their face. Women would even fake the look by covering their eyebrows in makeup. In fact, that is why the Mona Lisa has no eyebrows in her picture.<br>
8.Each year, Americans spend more money on beauty than on education.<br>
9.In the Roman era, even men painted their lips with lipstick to indicate their social rank.<br>
10.An average woman uses a dozen of beauty care products that contain 168 chemical ingredients daily. An average man uses just 6 products with 85 ingredients.<br>
11.In ancient Greece, women lightened their hair with plant extracts or arsenic.<br>
12.Some spas offer “geisha” facial for $150. It consists of moistened nightingale excrement which is applied to face and allowed to dry on it.<br>
13.In 18th-century Spain, young women ate clay that led to chlorosis or anemia to get a porcelain complexion.<br>
14.In the Middle Ages, women swallowed arsenic to improve their complexion.<br>
15.About 3000 B.C., Grecian women used oxen hair as fake eyebrows.<br>
</p>

{% endblock %}
